<!DOCTYPE html>
<html>
  <head>
    <title>Who am I?</title>
    <link type="text/css" rel="stylesheet" href = "/css/stylesheet.css">
    <link rel="icon" href="https://dl.dropboxusercontent.com/u/5258675/ip-favicon.png">
  </head>
  <body>
    <h1>Request Header Parser Microservice</h1>
    <p>{{userInfo}}</p>
  </body>
</html>
