<!DOCTYPE html>
<html>
  <head>
    <title>Who am I?</title>
    <link type="text/css" rel="stylesheet" href = "/css/stylesheet.css">
    <link rel="icon" href="https://dl.dropboxusercontent.com/u/5258675/ip-favicon.png">
  </head>
  <body>
    <h2>¿Who Am I?</h2>
    <p><%- JSON.stringify(userInfo) %></p>
    <p id="descriptionLinks">
    Check out the <a href="https://github.com/ajGingrich/Request-Header-Parser" target="_blank">github repository</a>
    or the <a href="https://www.freecodecamp.com/challenges/request-header-parser-microservice" target="_blank">description</a> from freeCodeCamp.
    </p>
  </body>
</html>
