body {
    background-color: #afd1a9;
    text-align: center;
}
p {
    font-size: 14px;
    font-family: monospace;
}
#descriptionLinks {
    font-family: Arial, serif;
    font-size: 16px;
}
a {
    color: blue;
    font-family: Cambria, serif;
    text-decoration: none;
    font-size: 18px;
}